<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="css/reset.css">
    <link type="text/css" rel="stylesheet" href="css/index.css">
    <title>BabySpot's</title>
</head>
<body>
    <header> <!-- inicio do cabeçalho de navegação-->
        <div> <!-- inicio toolbar-->
            <div class="localizacao"> <!-- inicio locacalizacão-->
                <ul>
                    <li class="dropdown-localizacao">
                        <a href="javascript:void(0)" class="dropbtn">Campo Grande, MS</a>
                        <div class="dropdown-localizacoes">
                            <a href="#">São Paulo, SP</a>
                            <a href="#">Rio de Janeiro, RS</a>
                        </div>
                    </li>
                </ul>
            </div><!-- final locacalizacão-->
            <figure>
                <img class="logo-heme" src="res/img/logo-home.png" alt="Logo do site, está escrito: BabySpot's">
            </figure>
            <div class="entrar-cadastrar-conta">
                <input type="submit" class="entrar" value="entrar" id="entrar" name="entrar">
                <input type="submit" class="cadastrar" value="cadastrar" id="cadastrar" name="cadastrar">
            </div>
        </div> <!--fim toolbar-->
    </header> <!-- fim do cabeçalho de navegação-->
    <article> <!-- inicio conteudo -->
        <section class="busca"> <!-- inicio busca -->
            <h1>Descubra</h1>
            <p>O restaurante ideal para a sua família</p>
            <div> <!-- inicio formulario de busca -->
                <form class="campo-busca-home">
                    <input type="search" name="busca" id="busca" placeholder="Buscar Estabelecimento">
                    <input type="submit" name="buscar" id="buscar" value="Buscar">
                </form>
            </div> <!-- final formulario de busca -->
            <p>ou selecione o serviço que deseja procurar</p>
            <div class="carrossel"> <!-- inicio carrossel de serviços -->
                <!--TODO-->
            </div> <!-- final carrossel de serviços -->
        </section> <!-- final busca -->
    </article> <!-- final conteudo -->
</body>
</html>