* {
    outline: none;
}

html, body{
    font-family: 'Ubuntu', sans-serif;
    background-color: #f5f5f5;
}

/*Modela a parrencia de um botão do site*/
.botao {
    border-radius: 5px;
    transition: background-color .3s;
    text-decoration: none;
    text-align: center;
    padding: 1.5ch 1ch;
    cursor: pointer;
}
/*modela a aparencia de um cartão.*/
.card {
    border-radius: 5px;
    box-shadow: 0 2px #dedede;
    background-color: white;
}

.label {
    font-size: 14px;
    color: #1e82f2;
    display: inline-block;
    padding: 17px;
    margin-top: 30px;
    margin-bottom: 20px;
    box-shadow: none;
}

/*modela um container flex */
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    margin: auto;
}

header.cabecalho-principal {
    width: 100%;
    margin: auto;
    background-color: white;
}

header.cabecalho-principal .container {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
}


header.cabecalho-principal .container .local .localizacoes {
    padding: .5ch;
    border: none;
    background-color: inherit;
}

header.cabecalho-principal .container .conta .entrar {
    width: 120px;
    border: none;
    color: black;
    float: left;
    margin: 0;
    font-size: 14px;
    -webkit-box-sizing: border-box;
}

header.cabecalho-principal .container .conta .cadastrar {
    width: 120px;
    color: white;
    float: right;
    background-color: #f87d16;
    font-size: 14px;
    -webkit-box-sizing: border-box;
}

header.cabecalho-principal .container .conta .cadastrar:hover {
    background-color: #c26116;
}

footer .container {
    justify-content: flex-start;
    align-items: baseline;
}

footer{
    padding-bottom: 20px;
    margin: 55px auto auto;
    background-color: white;
    font-size: 14px;
    color: #747474;
    line-height: 18px;
}

footer .container .info {
    width: 335px;
    margin-top: 25px;
}

footer .container .fac li{
    width: 150px;
}

footer .container .legal{
    width: 240px;
}

footer .container .newsletter {
    width: 280px;
    font-weight: bold;
}

footer .container .newsletter form {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}


footer .container .newsletter form input[type="email"] {
    box-sizing: border-box;
    background-color: #e9e9e9;
    color: #838383;
    padding: 15px;
    border: none;
    border-radius: 5px;
    width: 190px;
    margin-right: 5px;
}

footer .container .newsletter form input[type="submit"] {
    box-sizing: border-box;
    font-size: 14px;
    border: none;
    width: 80px;
    background-color: #166bf8;
    color: white;
}

footer .container .newsletter input[type="submit"]:hover {
    background-color: #0251d6;
}

footer .container .newsletter ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
}

footer .container .newsletter ul li a {
    display: block;
    width: 24px;
    height: 24px;
    font-size: 25px;
    margin-left: 5px;
}

.icone-social {
    background-image: url("../images/sprites-links-sociais.png");
}

footer .container .newsletter ul li a[href*="facebook"]{
    background-position: 0 0;
}

footer .container .newsletter ul li a[href*="instagram"]{
    background-position: 24px 0;
}

footer .container .newsletter ul li a[href*="plus.google"]{
    background-position: 54px 0;
}


footer .container .newsletter ul li a[href*="twitter"]{
    background-position: 84px 0;
}

.copyright {
    justify-content: space-between;
    font-size: 14px;
    color: #747474;
    padding-top: 20px;
    padding-bottom: 20px;
}

input[type=checkbox] {
    visibility: hidden;
    margin-right: 8px;
    cursor: pointer;
}

input[type=checkbox]:before {
    content: url("../images/icon-checkbox-unchecked.png");
    display: inline-block;
    margin-right: 15px;
    width: 14px;
    height: 14px;
    visibility: visible;
}

input[type=checkbox]:checked:before {
    content: url("../images/icon-checkbox-checked.png");
}

.navegacao {
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 0;
    background: white;
    box-shadow: 0 2px #dedede;
}

.navegacao ul {
    width: 1000px;
    margin: auto;
}


.navegacao li {
    display: inline-block;
    padding-right: 30px;
    background: url("../images/navbar-arroy-right.png") no-repeat local calc(100% - 10px) 5px;
}


.navegacao li:last-child {
    background: none;
}

.navegacao li:last-child a{
    color: #2c86e5;
}

.navegacao li a {
    text-decoration: none;
    color: #909090;


}