@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
	outline: none;
}

.botao {
	border-radius: 5px;
	transition: background-color .3s;
	text-decoration: none;
	text-align: center;
	padding: 1.5ch 1ch;
	cursor: pointer;
}

.card {
	border-radius: 5px;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
	background-color: white;
}

html, body{
	font: 2ch 'Ubuntu', sans-serif;
	background-color: #f5f5f5;
}


header.cabecalho-principal {
	width: 100%;
	margin: auto;
	background-color: white;
}

.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 1000px;
	margin: auto;
}

header.cabecalho-principal .container {
	padding-top: 20px;
	padding-bottom: 20px;
	margin: auto;
}


header.cabecalho-principal .container .local .localizacoes {
	padding: .5ch;
	border: none;
	background-color: inherit;
}

header.cabecalho-principal .container .conta .entrar {
	width: 120px;
	border: none;
	color: black;
	float: left;
	margin: 0;
	font-size: 14px;
	-webkit-box-sizing: border-box;
}

header.cabecalho-principal .container .conta .cadastrar {
	width: 120px;
	color: white;
	float: right;
	background-color: #f87d16;
	font-size: 14px;
	-webkit-box-sizing: border-box;
}

header.cabecalho-principal .container .conta .cadastrar:hover {
	background-color: #c26116;
}

header.cabecalho-principal .container h2 {
	margin-right: 100%;
}


main.container {
	flex-direction: column;
	width: unset;
}

main.container .buscar {
	background-image: url("../images/bg-busca.png");
	width: 100%;
}

main.container .buscar .container {
	width: 590px;
	margin: auto;
	flex-direction: column;
	align-items: initial;
	padding-top: 50px;
}

main.container .buscar .container h2 {
	font-size: 3ch;
	margin: 0;
	color: white;
	text-align: left;
}

main.container .buscar .container h2 + p {
	margin-bottom: 15px;
	margin-top: 2px;
}


main.container .buscar .container .campo-busca input[type="search"] {
	width: 425px;
	height: 50px;
	border: none;
	font-size: 14px;
	padding: 2ch;
	border-radius: 5px;
	margin-right: 20px;
}

main.container .buscar .container .campo-busca input[type="submit"] {
	width: 130px;
	height: 50px;
	font-size: 14px;
	border: none;
	color: white;
	background: #166bf8 url("../images/icone-busca.png") no-repeat local 20px;
	padding: 1% 3% 1% 4.5%;
	border-radius: 5px;
}

main.container .buscar .container p {
	font-size: 1.5ch;
	color: white;	
	margin: 0;
	margin-top: 40px;
}

main.container .buscar .container .carrossel {
	height: 200px;
	//TODO 
}

main.container h2 {
	box-sizing: border-box;
	margin: 10px 50% 10px 0;
	width: all;
	text-align: center;
}


main.container .top-estabelecimentos .container {
	flex-direction: row;
	flex-wrap: wrap;
}


main.container .top-estabelecimentos .container h2 {
	width: 215px;
	padding: 1ch;
}

main.container .top-estabelecimentos .container .item {
	width: 480px;
	margin-bottom: 15px;
}


.top-estabelecimentos .item .foto{
	float: left;
	margin-right: 18px;
	border-radius: 5px 0 0 5px;
}


main.container .top-estabelecimentos .item .infos p:nth-child(1) {
	padding-top: 20px;
	padding-bottom: 15px;
	font-size: 14px;
	color: #777777;
}

main.container .top-estabelecimentos .item .infos p:nth-child(2) {
	font-size: 18px;
	color: #2c86e5;
}

main.container .top-estabelecimentos .item .infos p:nth-child(3) {
	font-size: 12px;
	color: #777777;
	padding-top: 10px;
}

main.container .top-estabelecimentos .item .carrossel-servico{
	height: 70px;
	width: 265px;
	//TODO
}

main.container .top-estabelecimentos .item .avaliacao {
	font-size: 12px;
	color: #777777;
}

main.container .top-estabelecimentos .item .avaliacao .detalhes{
	float: right;
	font-size: 14px;
	color: white;
	background-color: #59a3f6;
	margin-bottom: 8px;
	margin-right: 8px;
}

main.container .top-estabelecimentos .item .avaliacao .detalhes:hover{
	background-color: #2370f6;
}


main.container .top-cidades h2 {
	width: 215px;
	padding: 1ch;
}

main.container .top-cidades .cidade img{
    border-radius: 5px;	
}


main.container .top-cidades .cidade{
    display: inline-block;
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    padding: 5px;
}


main.container .top-cidades .cidade .estado-cidade{
    font-size: 12px;
    color: #777777;
}

main.container .top-cidades .cidade .nome-cidade{
    font-size: 18px;
    color: #2c86e5;
}

footer{
	padding-bottom: 20px;
	margin: auto;
	margin-top: 20px;
	background-color: white;
}




.info, .fac, .legal, .newsletter {
	width: 25%;
}

footer .container .newsletter form {
	display: flex;
	justify-content: space-between;
}


footer .container .newsletter form input[type="email"] {
	box-sizing: border-box;
	border: none;
	padding: 1.5ch;
	font-size: 1.5ch;
	border-radius: 5px;
	width: 75%;
}

footer .container .newsletter form input[type="submit"] {
	width: 25%;
	font-size: 1.5ch;
	background-color: #166bf8;
	color: white;
	border: none;
}

footer .container .newsletter input[type="submit"]:hover {
	background-color: #0251d6;
}

footer .container .newsletter ul {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-top: 10px;
}

footer .container .newsletter ul li a {
	display: block;
	width: 24px;
	height: 24px;
	font-size: 25px;
	margin: 5px;
}

.icone-social {
	background-image: url("../images/sprites-links-sociais.png");
}

footer .container .newsletter ul li a[href*="facebook"]{
	background-position: 0 0;
}

footer .container .newsletter ul li a[href*="instagram"]{
	background-position: 24px 0;
}


footer .container .newsletter ul li a[href*="plus.google"]{
	background-position: 54px 0;
}


footer .container .newsletter ul li a[href*="twitter"]{
	background-position: 84px 0;
}


