

header.cabecalho-principal .container {
    margin-bottom: 2px;
    box-shadow: 0 2px #dedede;
}

header.cabecalho-principal {
    box-shadow: 0 2px white;
}

main.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 960px;
    margin-bottom: 420px;
    margin-top: 30px;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;

}

main form {
    width: 100%;
    font-size: 14px;
    color: #7a7a7a;
}

main form h3 {
    font-size: 20px;
    font-weight: bold;
    color: #2c86e5;
    box-shadow: 0 2px #dedede;
    padding-bottom: 10px;
    margin-bottom: 15px;
}
label {
    display: block;
}

input {
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px #d9d9d9 solid;
    height: 40px;
    font-size: 16px;
    padding: 5px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
}

#dados {
    width: 600px;
    height: 100%;
    box-sizing: border-box;
    float: left;
}
#fotos {
    float: left;
    width: 325px;
    height: 100%;
    box-sizing: border-box;
    margin-top: 25px;
}

#endereco label:nth-child(1){
    width: 180px;
    float: left;
}

#endereco label:nth-child(2) {
    width: 300px;
    float: left;
    margin-left: 10px;
}

#endereco label:nth-child(3) {
    float: left;
    width: 100px;
    margin-left: 10px;
}

#endereco label:nth-child(4) {
    clear: both;
    float: left;
    width: 275px;

}

#endereco label:nth-child(5) {
    float: left;
    width: 80px;
    margin-left: 10px;
}

#endereco label:nth-child(6) {
    float: left;
    width: 225px;
    margin-left: 10px;
}


#fotos-galeria {
    text-align: center;
}

#fotos #fotos-galeria ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#fotos-galeria ul li {
    margin-left: 10px;
    margin-bottom: 10px;
}

#fotos-galeria ul li img{
    display: block;
    width: 70px;
    height: 70px;
    position: relative;
}

#fotos-galeria input {
    box-sizing: border-box;
    width: 100px;
    color: #a1a1a1;
    padding: 10px 20px;
    font-size: 14px;
    margin-top: 20px;
}

main form input[type='submit'] {
    box-sizing: content-box;
    height: auto;
    width: auto;
    margin-left: 60px;
    margin-top: 40px;
    font-size: 16px;
    padding: 20px 35px;
    color: white;
    background-color: #59a3f6;
}