
main.container {
	flex-direction:column;
	width:unset;
}


.buscar {
	background-image:url("../images/bg-busca.png");
	width:100%;
}

.buscar .container {
	width:630px;
	margin:auto;
	flex-direction:column;
	align-items:initial;
	padding-top:50px;
}

main.container .buscar .container h2 {
	font-size:32px;
	margin:0;
	color:white;
	text-align:left;
}

main.container .buscar .container h2 + p {
	margin-top:10px;
	font-size:16px;
	margin-bottom:20px;
}


.buscar .container .campo-busca input[type="search"] {
	color:#777777;
	width:475px;
	height:50px;
	border:none;
	font-size:14px;
	padding:20px;
	border-radius:5px;
	margin-right:20px;
	font-family:'Ubuntu', sans-serif;
}

.buscar .container .campo-busca input[type="submit"] { box-sizing:border-box;width:130px;height:50px;font-size:16px;border:none;color:white;background:#166bf8 url("../images/icone-busca.png") no-repeat local 30px;padding-left:55px;padding-right:30px;border-radius:5px;font-family:'Ubuntu', sans-serif;cursor:pointer;transition:background-color.3s; }
.buscar .container .campo-busca input[type="submit"]:hover { background-color: #0D56F8; }

main.container .buscar .container p {
	font-size:1.5ch;
	color:white;
	margin-top:44px;
}

main.container .buscar .container .carrossel { width:630px;height:130px;margin:25px 0 85px 0;position:relative; }
main.container .buscar .container .carrossel .btn { width:20px;height:130px;display:block; }
main.container .buscar .container .carrossel .anterior { float:left; }
main.container .buscar .container .carrossel .anterior a { width:5px;height:8px;display:block;text-decoration:none;margin-top:60px;background:url("../images/seta-esquerda.png") no-repeat; }
main.container .buscar .container .carrossel .proximo { float:right; }
main.container .buscar .container .carrossel .proximo a { width:5px;height:8px;display:block;text-decoration:none;margin-top:60px;float:right;background:url("../images/seta-direita.png") no-repeat; }
main.container .buscar .container .carrossel .item {margin-bottom:60px;width:590px;display:block;position:absolute;left:20px; }
main.container .buscar .container .carrossel .item ul {list-style:none outside none;padding-left:0;margin:0; }
main.container .buscar .container .carrossel .item .servicos-busca a { text-decoration:none; }
main.container .buscar .container .carrossel .item .servicos-busca .ico { width:70px;height:70px;margin:0 auto;margin-bottom:10px;  }
main.container .buscar .container .carrossel .item .servicos-busca .ico.bercario { background:url("../images/ico-bercario.png") no-repeat;background-position:center center;  }
main.container .buscar .container .carrossel .item .servicos-busca .ico.trocador { background:url("../images/ico-trocador.png") no-repeat;background-position:center center;  }
main.container .buscar .container .carrossel .item .servicos-busca .ico.playground { background:url("../images/ico-playground.png") no-repeat;background-position:center center;  }
main.container .buscar .container .carrossel .item .servicos-busca .ico.estacionam { background:url("../images/ico-estacionamento.png") no-repeat;background-position:center center;  }
main.container .buscar .container .carrossel .item .servicos-busca .ico.papinha { background:url("../images/ico-papinha.png") no-repeat;background-position:center center;  }
main.container .buscar .container .carrossel .item .servicos-busca .ico.musica { background:url("../images/ico-musica.png") no-repeat;background-position:center center;  }
main.container .buscar .container .carrossel .item .servicos-busca .ico.ban-defi { background:url("../images/ico-ban-defi.png") no-repeat;background-position:center center;  }
main.container .buscar .container .carrossel .item .servicos-busca .ico.ban-fami { background:url("../images/ico-ban-fami.png") no-repeat;background-position:center center;  }
main.container .buscar .container .carrossel .item .servicos-busca .ico.cadeirao { background:url("../images/ico-cadeirao.png") no-repeat;background-position:center center;  }
main.container .buscar .container .carrossel .item .servicos-busca .ico.com-vega { background:url("../images/ico-com-vega.png") no-repeat;background-position:center center;  }
main.container .buscar .container .carrossel .item .servicos-busca .ico.com-lact { background:url("../images/ico-com-lact.png") no-repeat;background-position:center center;  }
main.container .buscar .container .carrossel .item .servicos-busca .ico.com-celi { background:url("../images/ico-com-celi.png") no-repeat;background-position:center center;  }
main.container .buscar .container .carrossel .item .servicos-busca .ico.copa { background:url("../images/ico-copa.png") no-repeat;background-position:center center;  }
main.container .buscar .container .carrossel .item .servicos-busca .ico.pos-rese { background:url("../images/ico-pos-rese.png") no-repeat;background-position:center center;  }
main.container .buscar .container .carrossel .item .servicos-busca .ico.cuidador { background:url("../images/ico-cuidador.png") no-repeat;background-position:center center;  }
main.container .buscar .container .carrossel .item .servicos-busca h3 { width:110px;height:40px;font-size:14px;color:#FFF;text-decoration:none;vertical-align:middle;display:table-cell;text-align:center;line-height:16px; }

main.container .top-estabelecimentos .container { flex-direction:row;flex-wrap:wrap; }

.item { width:492px;height:238px;margin-bottom:20px; }
.item .foto { float:left;border-radius:5px 0 0 5px;width:200px;height:238px; }
.item .infos { float:right;width:275px;height:100%; }
.item .infos p:nth-child(1) { padding-top:20px;padding-bottom:15px;font-size:14px;color:#777777; }
.item .infos p:nth-child(2) { font-size:18px;color:#2c86e5; }
.item .infos p:nth-child(3) { width:256px;height:30px;font-size:12px;color:#777777;padding-top:5px;line-height:14px; }


.item .carrossel-servico { width:256px;height:70px;margin:5px 0 10px 0;position:relative; }
.item .carrossel-servico .btn { width:20px;height:70px;display:block; }
.item .carrossel-servico .anterior { float:left; }
.item .carrossel-servico .anterior a { width:5px;height:8px;display:block;text-decoration:none;margin-top:35px;background:url("../images/seta-esquerda-min.png") no-repeat; }
.item .carrossel-servico .proximo { float:right; }
.item .carrossel-servico .proximo a { width:5px;height:8px;display:block;text-decoration:none;margin-top:35px;float:right;background:url("../images/seta-direita-min.png") no-repeat; }
.item .carrossel-servico .item-carrocel { margin-bottom:10px;width:216px;display:block;position:absolute;left:20px; }
.item .carrossel-servico .item-carrocel ul { list-style:none outside none;padding-left:0;margin:0; }
.item .carrossel-servico .item-carrocel .servicos-itens a { text-decoration:none; }
.item .carrossel-servico .item-carrocel .servicos-itens .ico { width:40px;height:40px;margin:0 auto;margin-bottom:5px;  }
.item .carrossel-servico .item-carrocel .servicos-itens .ico.bercario { background:url("../images/ico-bercario-min.png") no-repeat;background-position:center center;  }
.item .carrossel-servico .item-carrocel .servicos-itens .ico.trocador { background:url("../images/ico-trocador-min.png") no-repeat;background-position:center center;  }
.item .carrossel-servico .item-carrocel .servicos-itens .ico.playground { background:url("../images/ico-playground-min.png") no-repeat;background-position:center center;  }
.item .carrossel-servico .item-carrocel .servicos-itens .ico.estacionam { background:url("../images/ico-estacionamento-min.png") no-repeat;background-position:center center;  }
.item .carrossel-servico .item-carrocel .servicos-itens .ico.papinha { background:url("../images/ico-papinha-min.png") no-repeat;background-position:center center;  }
.item .carrossel-servico .item-carrocel .servicos-itens .ico.musica { background:url("../images/ico-musica-min.png") no-repeat;background-position:center center;  }
.item .carrossel-servico .item-carrocel .servicos-itens .ico.ban-defi { background:url("../images/ico-ban-defi-min.png") no-repeat;background-position:center center;  }
.item .carrossel-servico .item-carrocel .servicos-itens .ico.ban-fami { background:url("../images/ico-ban-fami-min.png") no-repeat;background-position:center center;  }
.item .carrossel-servico .item-carrocel .servicos-itens .ico.cadeirao { background:url("../images/ico-cadeirao-min.png") no-repeat;background-position:center center;  }
.item .carrossel-servico .item-carrocel .servicos-itens .ico.com-vega { background:url("../images/ico-com-vega-min.png") no-repeat;background-position:center center;  }
.item .carrossel-servico .item-carrocel .servicos-itens .ico.com-lact { background:url("../images/ico-com-lact-min.png") no-repeat;background-position:center center;  }
.item .carrossel-servico .item-carrocel .servicos-itens .ico.com-celi { background:url("../images/ico-com-celi-min.png") no-repeat;background-position:center center;  }
.item .carrossel-servico .item-carrocel .servicos-itens .ico.copa { background:url("../images/ico-copa-min.png") no-repeat;background-position:center center;  }
.item .carrossel-servico .item-carrocel .servicos-itens .ico.pos-rese { background:url("../images/ico-pos-rese-min.png") no-repeat;background-position:center center;  }
.item .carrossel-servico .item-carrocel .servicos-itens .ico.cuidador { background:url("../images/ico-cuidador-min.png") no-repeat;background-position:center center;  }
.item .carrossel-servico .item-carrocel .servicos-itens h3 { width:50px;height:20px;font-size:10px;color:#4095f5;text-decoration:none;vertical-align:middle;display:table-cell;text-align:center;line-height:12px; }



.item .avaliacao { height:45px;width:145px;float:left; }
.item .avaliacao span { font-size:12px;color:#777777;width:66px; }

.item .detalhes{ width:110px;height:25px;float:right;font-size:14px;color:white;background-color:#59a3f6;margin-bottom:18px;margin-right:18px;padding:10px 0px 0px 0px; }
.item .detalhes:hover{ background-color:#2370f6; }